
.slider {
	width: 100%;
}
.slider input {
	display: none;
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 300px;
	perspective: 1000px;
	overflow: hidden;
}
.testimonials .item {
	top: 10px;
	margin-top: 2%;
	position: absolute;
	box-sizing: border-box;
	background-color: #a688f8;
	width: 300px;
	text-align: center;
	transition: transform 0.4s;
	-webkit-transform-style: preserve-3d;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
	.btn-select-theme {
		border: none;
		border: none;
		padding: 5%;
		border-radius: 5px;
		background: linear-gradient(45deg, #1DBFAF 0, #1EAEDB 85%, #1EAEDB 100%);
		color: white;
		border-radius: 0.6rem;
		position: relative;
		top: -90px;
		align-items: center;
		left: 26%;
		width: 46%;
		z-index: 100;
		display: block;
		
	  }
	  .selected {

        font-size: 3rem;
        color: green;
        position: absolute;
		top: 3%;
		left: 2%;
        /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25); */
        text-shadow: 2px 2px #e2c5c5;
    }
}
.testimonials .item img {
	width: 60%;
	margin-top: 3%;
	border: 2px solid #3B344D;
	background-color: #ffff;
}
.testimonials .item p {
	color: #ddd;
}
.testimonials .item h2 {
	font-size: 14px;
}
.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots label {
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition: transform 0.2s, color 0.2s;
}

/* First */
#skin1:checked ~ .dots label[for="skin1"] {
	transform: scale(2);
	background-color:#d39e00;
}
#skin1:checked ~ .dots label[for="skin2"] {
	transform: scale(1.5);
}
#skin1:checked ~ .testimonials label[for="skin1"] {
	z-index: 4;
}
#skin1:checked ~ .testimonials label[for="skin2"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 3;
}
#skin1:checked ~ .testimonials label[for="skin3"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 2;
}
#skin1:checked ~ .testimonials label[for="skin4"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
	z-index: 1;
}


/* Second */
#skin2:checked ~ .dots label[for="skin1"] {
	transform: scale(1.5);
}
#skin2:checked ~ .dots label[for="skin2"] {
	transform: scale(2);
	background-color:#d39e00;
}
#skin2:checked ~ .dots label[for="skin3"] {
	transform: scale(1.5);
}
#skin2:checked ~ .testimonials label[for="skin1"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#skin2:checked ~ .testimonials label[for="skin2"] {
	z-index: 3;
}
#skin2:checked ~ .testimonials label[for="skin3"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#skin2:checked ~ .testimonials label[for="skin4"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 1;
}


/* Third */
#skin3:checked ~ .dots label[for="skin2"] {
	transform: scale(1.5);
}
#skin3:checked ~ .dots label[for="skin3"] {
	transform: scale(2);
	background-color:#d39e00;
}
#skin3:checked ~ .dots label[for="skin4"] {
	transform: scale(1.5);
}
#skin3:checked ~ .testimonials label[for="skin1"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#skin3:checked ~ .testimonials label[for="skin2"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#skin3:checked ~ .testimonials label[for="skin3"] {
	z-index: 3;
}
#skin3:checked ~ .testimonials label[for="skin4"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}

/* Fourth */
#skin4:checked ~ .dots label[for="skin3"] {
	transform: scale(1.5);
}
#skin4:checked ~ .dots label[for="skin4"] {
	transform: scale(2);
	background-color:#d39e00;
}

#skin4:checked ~ .testimonials label[for="skin1"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#skin4:checked ~ .testimonials label[for="skin2"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#skin4:checked ~ .testimonials label[for="skin3"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 2;
}
#skin4:checked ~ .testimonials label[for="skin4"] {
	z-index: 3;
}

